@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using SBOSysTacV2.HtmlHelperClass
@using SBOSysTacV2.ViewModel
@model TransactionDetailsViewModel




@{
    var fullname = Utilities.Getfullname(Model.Customer.lastname, Model.Customer.firstname, Model.Customer.middle);
    string status = "";

    if (Model.Booking_Trans.is_cancelled == true)
    {
        status = "Cancelled";
    }
    else
    {
        status = Model.Booking_Trans.serve_stat == true ? "Served" : "UnServed";
    }
}


<div class="pad margin no-print" style="padding-left: 0 !important; padding-right: 0 !important; margin-bottom: 0; padding-bottom: 0;">
    <div class="callout callout-info" style="margin-bottom: 5px; padding-bottom: 8px;">
        <h4>Book No : @Model.transactionId </h4>
        @*<div class="transNo">Book No.</div> <span>@Model.transactionId</span>*@
    </div>
</div>


<section class="content">

    <div class="row">
        <div class="col-sm-6">
            <div class="my-3 ml-2 p-2" id="optrbtn">
                <div class="button-group">
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Back to Booking List" onclick="history.back()"><i class="fa fa-arrow-left fa-lg"></i></button>
                   
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="pad mb-3">
            <div class="row">

                <div class="col-xs-6">

                    <div class="card-body">

                        <div class="col-sm-12">
                            <h2 class="mb-3 mt-1 text-bold">@fullname </h2>
                            <ul class=" ml-4 mb-0 fa-ul text-muted">
                                <li class="text"><span class="fa-li"><i class="fa fa-lg fa-home"></i> </span> <b class="text-info mr-1">Address:</b> @Model.Customer.address</li>
                                <li class="text">
                                    <span class="fa-li"><i class="fa fa-lg fa-phone"></i></span> <b class="text-info mr-1">Phone #:</b>
                                    @(String.IsNullOrEmpty(Model.Customer.contact1) && String.IsNullOrEmpty(Model.Customer.contact2) ? "No Contact Details" : !String.IsNullOrEmpty(Model.Customer.contact1) && String.IsNullOrEmpty(Model.Customer.contact2) ? String.Format("{0}", Model.Customer.contact1) : String.IsNullOrEmpty(Model.Customer.contact1) && !String.IsNullOrEmpty(Model.Customer.contact2) ? String.Format("{0}", Model.Customer.contact2) : String.Format("{0} / {1}", Model.Customer.contact1, Model.Customer.contact2))
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>

                <div class="col-xs-6">

                    @*<div class="col-sm-6 mt-4">
                            <button class="bt btn-success btn-flat btn-sm" id="printContract" data-id="@Model.trn_Id"><i class="fa fa-lg fa-print"></i> Print Contact Form</button>
                        </div>*@

                    <h5 class="pull-right bookdetails pt-4 mr-3">
                        <b>Trn Date:</b>

                        @Model.Booking_Trans.transdate.Value.ToString("MMM d, yyyy h:mm tt")
                    </h5>

                </div>
            </div>
        </div>
    </div>


    <div class="row" id="booking_details">

        @*@{Html.RenderAction("GetBookingDetailsPartial_Inquiry", Model.transactionId); }*@

        @{ Html.RenderAction("GetBookingDetailsPartial", "Bookings", Model.transactionId);}
    </div>


</section>

<div class="modal fade" id="modalAddDiscount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Booking Discount</h4>
            </div>
            <div class="modal-body" id="modalcontent">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts
{
    <script type="text/javascript">


        var bookingsUrl = {

            bookUrl_AddDiscount: "@Url.Action("AddBookingDiscount", "Bookings")",
            bookUrl_SelectDiscount: "@Url.Action("GetDiscountDetails", "Bookings")",
            bookurl_bookingdue:"@Url.Action("GetDiscountDetails", "Bookings",new {transId="tId"})"
        }
    </script>

    
    @Scripts.Render("~/Scripts/js_bookings.js")

}