@using SBOSysTacV2.ViewModel
@model PackageBookingViewModel



<div id="menuslist" class="box box-primary">
        <div class="box-header">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Menus:</h3>
            @*<div class="box-tools pull-right">
                <button id="add_maincourse" class="btn btn-sm btn-default" data-id="@Model.transactionId"><i class="fa fa-search"></i></button>
            </div>*@

        </div>
        <!--box-header-->
        <div class="box-body">
            <ul class="products-list product-list-in-box">

                @{ var counter = 0; }

                @foreach (var menu in Model.BookMenuses)
                {

                    counter += 1;

                    int? _menuNo = 0;

                    

                    var menuName = (!String.IsNullOrEmpty(menu.menu_name) ? menu.menu_name : Model.CheckCourseHasBar(menu.coursename) ? Model.GetMenusForCourseHasBar(Model.transactionId, menu.coursename, ref _menuNo) : menu.menu_name);

                    <li class="item my-1 py-1">

                        @*<div class="product product-img" data-id="@counter">


                            @if (string.IsNullOrEmpty(menu.menuImageFilename))
                            {
                                @:<img src="@Url.Content("~/Content/dist/img/default-50x50.gif")" alt="@menu.coursename" class="imglightbox img-size-50">
                            }
                            else
                            {
                                @:<img src="@Url.Content(String.Format("~/Content/UploadedImages/{0}", menu.menuImageFilename))" alt="@menu.coursename" class="imglightbox">
                            }

                        </div>*@
                        


                        <div id="course" class="product product-info" data-id="@menu.courseid">
                            @*<i class="fa fa-clipboard" aria-hidden="true"></i>*@
                            <span class="menu-counter">@counter</span>
                            <span class="product-title">
                                @menu.coursename

                            </span>
                            <div class="ml-5 my-2 py-1" >
                                <span class="product-description">
                                    @(string.IsNullOrEmpty(menuName)?"":menuName.ToUpper())
                                </span>
                            </div>

                        </div>

                        <div class="tools" data-transid="@Model.transactionId">

                            @if (string.IsNullOrEmpty(menuName))
                            {
                                <i class="fa fa-plus-circle fa-lg" id="menu_add"></i>

                            }
                            else
                            {
                                <i class="fa fa-edit fa-lg" id="menu_change" data-menuid="@(!String.IsNullOrEmpty(Convert.ToString(menu.menu_No)) ? menu.menu_No : _menuNo)"></i>
                                <i class="fa fa-trash-o fa-lg" id="menu_remove" data-menuid="@(!String.IsNullOrEmpty(Convert.ToString(menu.menu_No)) ? menu.menu_No : _menuNo)"></i>
                            }



                        </div>
                    </li>

                 }

            </ul> 
           
        </div>
        <!--box-body-->
    </div>



<script type="text/javascript">

   
    $tblBookMenu = @Html.Raw(Json.Encode(@Model.BookMenuses));

    

</script>



