@using SBOSysTacV2.ViewModel
@model BookingsViewModel


@if (Request.IsAuthenticated)
{

    <section class="content">

        <div class="box" style="height:595px;">

            <div class="row">
                <div class="col-sm-6">
                    <div class="box-header with-border">
                        <i class="fa fa-cart-plus fa-fw"></i>
                        <h3 class="box-title">Create New Booking</h3>

                    </div>

                </div>
                <div class="col-sm-6">
                    <h5>All fields marked with an * are required</h5>
                </div>
            </div>

            <div id="createForm">

                @Html.Partial("_createbookingpartial", Model);
            </div>

            <div class="box-footer" style="padding-left: 0px;">
                <div class="col-md-5 col-sm-offset-4">


                    <button class="btn bg-olive btn-flat" type="button" id="btn_regbooking"><i class="fa fa-credit-card"></i> Register Booking</button>
                    <button class="btn bg-purple btn-flat" type="button" id="btn_cancelbooking">Cancel</button>

                </div>
            </div>
            <!-- /.box-footer-->
        </div>

    </section>
    <!-- main container-->
}

<div id="spinn-loader">

</div>


<div class="modal fade" id="modal-searchPackage">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-bottom: 0; padding-bottom: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Package</h4>
            </div>
            <div class="modal-body" id="modalcontent">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



@section scripts
{

    <script type="text/javascript">

    

        var bookingsUrl = {
            bookUrl_IndexLoad: "@Url.Action("Index", "Bookings")",
            bookUrl_loadBookings: "@Url.Action("LoadBookings", "Bookings")",
            bookUrl_createBooking: "@Url.Action("CreateBooking", "Bookings")",
            bookUrl_searchPackage: "@Url.Action("SearchPackage_Transaction","Packages")",
            @*bookUrl_getPackageBookingDetailsId: "@Url.Action("GetPackageBookingDetails", "Bookings",new {transId = "trans_Id"})",*@
            bookUrl_getPackageBookingDetails: "@Url.Action("GetPackageBookingDetails", "Bookings",new {transId = "trans_Id"})",
            bookUrl_areaPackages: "@Url.Action("GetPackagesByLocation", "Packages")",
            bookUrl_getResultSearchPackages: "@Url.Action("GetResultSearchPackageBooking", "Packages")"

        }

        $(function () {

            //var vm = {};
            var dateNow = new Date();
            var customers = "";

                customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('fullname'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                  url: '/Customers/GetCustomers?query=%QUERY',
                  wildcard: '%QUERY'

                }

            });

            //customers.initialize();

            $('#customer').typeahead({
                    highlight: true

                },
                {
                    name: 'customers',

                    display: 'fullname',

                    source: customers

                }).on("typeahead:selected typeahead:autocompleted",

                function (e, customer) {
                    e.preventDefault();

                    $('#hidden_cusId').val(customer.customerId);

                    //vm.customerId = customer.customerId;
                    //console.log(customer);
                });


            $('#event_date').datetimepicker(
                {

                    allowInputToggle: true,
                    enabledHours: false,
                    locale: moment().local('en'),
                    format: "MM/DD/YYYY HH:mm A",
                    defaultDate: dateNow

                }
                );

        });


    </script>

    @Scripts.Render("~/Scripts/js_bookings.js")
}
