@using SBOSysTacV2.HtmlHelperClass
@using SBOSysTacV2.ViewModel
@model TransactionDetailsViewModel




@{
    var fullname = Utilities.Getfullname(Model.Customer.lastname, Model.Customer.firstname, Model.Customer.middle);
    var status = "";

    status = Model.Booking_Trans.iscancelled == true ? "Cancelled" : Model.Booking_Trans.serve_status == true ? "Served" : "UnServed";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="callout callout-info bg-light-blue my-1 py-1">
                <h4 class="my-1 text-black bold">Booking No : </h4>
                <h2 class="my-1">@Model.transactionId</h2>
                @*<div class="transNo">Book No.</div> <span>@Model.transactionId</span>*@
            </div>
        </div>

    </div>
    <!-- end of row-->

    <div class="row">
        <div class="pad mb-5">
            <div class="row">

                <div class="col-xs-6">

                    <div class="card-body">

                        <div class="col-sm-8">
                            <h2 class="mb-3 mt-1 text-bold">@fullname </h2>
                            <ul class=" ml-4 mb-0 fa-ul text-muted">
                                <li class="text"><span class="fa-li"><i class="fa fa-lg fa-home"></i> </span> <b class="text-info mr-1">Address:</b> @Model.Customer.address</li>
                                <li class="text"><span class="fa-li"><i class="fa fa-lg fa-phone"></i></span> <b class="text-info mr-1">Phone #:</b> @String.Format("{0} / {1}", Model.Customer.contact1, Model.Customer.contact2)</li>
                            </ul>
                        </div>

                    </div>


                </div>

                <div class="col-xs-6">
                    <small class="pull-right bookdetails" style="padding-top: 12px;">
                        <b>Trn Date:</b>

                        @Model.Booking_Trans.transdate.Value.ToString("MMM d, yyyy h:mm tt")
                    </small>

                </div>
            </div>
        </div>

    </div>
    <!-- end of row -->

    <div class="row">
        <div class="col-md-12">
            <div class=" card card-primary card-outline card-outline-tabs" style="margin-left:5px;width:90%;">

                <div class="card-header">

                    <ul class="nav nav-tabs" id="bookingTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="booking_info-tab" data-toggle="pill" href="#tabpane_bookinginfo" role="tab" aria-controls="tabpane_bookinginfo" aria-selected="true">Booking Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="menu_info-tab" data-toggle="pill" href="#tabpane_menuinfo" role="tab" aria-controls="tabpane_menuinfo" aria-selected="false">Menus / Add-ons and Upgrades</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="statement_info-tab" data-toggle="pill" href="#tabpane_statementinfo" role="tab" aria-controls="tabpane_statementinfo" aria-selected="false">Statement of Account</a>
                        </li>

                    </ul>

                </div>
                <!-- card header-->
                <div class="card-body">

                    <div class="tab-content" id="bookingTabContent">

                        <div class="tab-pane fade active in" id="tabpane_bookinginfo" role="tabpanel" aria-labelledby="booking_info-tab">

                            <div class="row">
                                <div class="col-md-10">
                                    @{
                                        Html.RenderPartial("_BookingInfo", Model);
                                    }
                                </div>
                            </div>



                        </div>

                        <div class="tab-pane fade" id="tabpane_menuinfo" role="tabpanel" aria-labelledby="menu_info-tab">

                            <div class="row">
                                <div class="col-md-12">

                                    @{
                                        Html.RenderPartial("GetPackageonBooking", Model);
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tabpane_statementinfo" role="tabpanel" aria-labelledby="statement_info-tab">
                            <p class="lead" style="margin: 10px;">AMOUNT DUE</p>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive" id="amountDue">
                                        @{

                                            Html.RenderAction("getPartialView_AmountDue", new { transId = Model.transactionId });
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.card body -->


            </div>
        </div>
    </div>
</section>





<div class="modal fade" id="modalAddDiscount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Booking Discount</h4>
            </div>
            <div class="modal-body" id="modalcontent">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!---------------------------------------------------------------------------------------------------------------------------- -->
<!--===========================================================================================================================-->
<!--==================   MODALS FOR PACKAGE MENUS =============================================================================-->
<!--===========================================================================================================================-->
<!--==================   NOV. 12 ,2021 =============================================================================-->

<div class="modal fade" id="modal-searchPackageBooking">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modalPackagecontent" style="padding-top: 0;margin-top:0">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-Addons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Additional Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_addoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-modifyAddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modify Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_modifyaddoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-change_menu">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modal_changemenu_content">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-seletedaddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="modal-content_selectedaddon">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modalLightbox" class="menuimgmodal">
    <span class="menuimg-close">&times;</span>
    <div class="menuimgmodal-content" id="imgcontent">

    </div>
</div>

<!--============================================================================================================================-->
<!--============================================================================================================================-->
<!--============================================================================================================================-->

@section scripts
{
    <script type="text/javascript">


        var bookingsUrl = {

            bookUrl_AddDiscount: "@Url.Action("AddBookingDiscount", "Bookings")",
            bookUrl_RemoveDiscount: "@Url.Action("RemoveBookingDiscount", "Bookings")",
            bookUrl_SelectDiscount: "@Url.Action("GetDiscountDetails", "Bookings")",
            bookurl_bookingdue:"@Url.Action("GetDiscountDetails", "Bookings",new {transId="tId"})"
        }

        var PackageBookingUrl = {
            urlSearchpackagebooking: "@Url.Action("GetListofCourse", "Bookings")",
            urlSearchpackagebookingbybookNo: "@Url.Action("GetListofCourseforChange", "Bookings")",
            urlChangeMenu_on_Booking: "@Url.Action("Change_Menu_on_Booking", "Bookings")",
            urlMenuList: "@Url.Action("LoadListMenus", "Bookings")",
            urlMenuList_Modify: "@Url.Action("LoadListMenus", "Bookings",new { courseId= "courseid"})",
            urlAddMenustoBooking: "@Url.Action("AddMenusToPackage", "Bookings")",
            urlModifyBookingAddOns: "@Url.Action("ModifyAddOns", "Bookings")",
            urlAddOnsInformation: "@Url.Action("AddOnsInformation", "Bookings")",
            urlAddOnsUpgrades: "@Url.Action("Get_AddonsandUpgrades", "Bookings")",
            urlRemoveBookingMenus: "@Url.Action("RemoveMenufromListofBookings", "Bookings")",
            urlRemoveBookingAddOns: "@Url.Action("RemoveAddons", "Bookings")",
            urlGetListAddonsbyCat: "@Url.Action("Get_AddonsandUpgradesByCat", "Bookings")",
            urlGetSelectedAddons: "@Url.Action("GetSelectedAddons", "Bookings")"

        }

    </script>


    @Scripts.Render("~/Scripts/js_bookings.js")

    @Scripts.Render("~/Scripts/js_packagebooking.js")


}