@using SBOSysTacV2.HtmlHelperClass
@using SBOSysTacV2.Models
@model Booking




@{
    var fullname = Utilities.Getfullname(Model.Customer.lastname, Model.Customer.firstname, Model.Customer.middle);

    var status = "";

    status = Model.is_cancelled == true ? "Cancelled" : Model.serve_stat == true ? "Served" : "UnServed";

    
}


<section class="content">
    
    <div class="row">
        <div class="col-sm-6">
            <div class="my-3 ml-2 p-2" id="optrbtn">
                <div class="button-group">
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Back to Booking List" onclick="location.href='@Url.Action("Index","Bookings")'"><i class="fa fa-arrow-left fa-lg"></i></button>
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Modify Booking" data-id="@Model.trn_Id" onclick="onEditBooking($(this).attr('data-id'));"><i class="fa fa-edit fa-lg"></i></button>
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Delete Booking" data-id="@Model.trn_Id" id="bookingTrash"><i class="fa fa-trash-o fa-lg"></i></button>
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Cancel Booking" data-id="@Model.trn_Id" onclick="onCancelBooking($(this).attr('data-id'))"><i class="fa fa-unlink fa-lg"></i></button>
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Serve Booking Status" data-id="@Model.trn_Id" id="bookingServe"><i class="fa fa-archive fa-lg"></i></button>
                    <button type="button" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="bottom" title="Print Option" id="printContract" data-id="@Model.trn_Id"><i class="fa fa-print fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right mt-5">
            <div class="bookingNo my-2">
                <h4 class="text-bold mx-2">Booking No.</h4>
                <p id="trans_Id" class="mx-2">@Model.trn_Id</p>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-xs-12">
            <div class="callout callout-info bg-light-blue my-1 py-1">
                <h4 class="my-1 text-black bold">Booking No : </h4>
                <h2 class="my-1">@Model.trn_Id</h2>-->
                @*<div class="transNo">Book No.</div> <span>@Model.transactionId</span>*@
            <!--</div>
        </div>

    </div>-->
    <!-- end of row-->

    <div class="row">
        <div class="pad mb-3">
            <div class="row">

                <div class="col-xs-6">

                    <div class="card-body">

                        <div class="col-sm-12">
                            <h2 class="mb-3 mt-1 text-bold">@fullname </h2>
                            <ul class=" ml-4 mb-0 fa-ul text-muted">
                                <li class="text"><span class="fa-li"><i class="fa fa-lg fa-home"></i> </span> <b class="text-info mr-1">Address:</b> @Model.Customer.address</li>
                                <li class="text">
                                    <span class="fa-li"><i class="fa fa-lg fa-phone"></i></span> <b class="text-info mr-1">Phone #:</b>
                                    @(String.IsNullOrEmpty(Model.Customer.contact1) && String.IsNullOrEmpty(Model.Customer.contact2) ? "No Contact Details" : !String.IsNullOrEmpty(Model.Customer.contact1) && String.IsNullOrEmpty(Model.Customer.contact2) ? String.Format("{0}", Model.Customer.contact1) : String.IsNullOrEmpty(Model.Customer.contact1) && !String.IsNullOrEmpty(Model.Customer.contact2) ? String.Format("{0}", Model.Customer.contact2) : String.Format("{0} / {1}", Model.Customer.contact1, Model.Customer.contact2))
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>

                <div class="col-xs-6">

                    @*<div class="col-sm-6 mt-4">
                        <button class="bt btn-success btn-flat btn-sm" id="printContract" data-id="@Model.trn_Id"><i class="fa fa-lg fa-print"></i> Print Contact Form</button>
                    </div>*@

                    <h5 class="pull-right bookdetails pt-4 mr-3">
                        <b>Trn Date:</b>

                        @Model.transdate.Value.ToString("MMM d, yyyy h:mm tt")
                    </h5>

                </div>
            </div>
        </div>

    </div>
    <!-- end of row -->



    <div class="row" id="booking_details">

        @{ Html.RenderAction("GetBookingDetailsPartial", Model.trn_Id);}

    </div>
</section>





<div class="modal fade" id="modalAddDiscount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Booking Discount</h4>
            </div>
            <div class="modal-body" id="modalcontent">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-BookingOtherCharges">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Booking Charges</h4>
            </div>
            <div class="modal-body" id="modal-BookingOthercharge-content">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
<!---------------------------------------------------------------------------------------------------------------------------- -->
<!--===========================================================================================================================-->
<!--==================   MODALS FOR PACKAGE MENUS =============================================================================-->
<!--===========================================================================================================================-->
<!--==================   NOV. 12 ,2021 =============================================================================-->

<div class="modal fade" id="modal-searchPackageBooking">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modalPackagecontent" style="padding-top: 0;margin-top:0">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-Addons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Additional Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_addoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-modifyAddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modify Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_modifyaddoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--<div class="modal fade" id="modal-change_menu">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modal_changemenu_content">

            </div>
            <div class="modal-footer">-->



<div class="modal fade" id="modal-seletedaddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="modal-content_selectedaddon">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




<div class="modal fade" id="modal-printForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="modal-content_printForm">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div id="modalLightbox" class="menuimgmodal">
    <span class="menuimg-close">&times;</span>
    <div class="menuimgmodal-content" id="imgcontent">

    </div>
</div>

<!--============================================================================================================================-->
<!--============================================================================================================================-->
<!--============================================================================================================================-->

@section scripts
{
    <script type="text/javascript">


        var bookingsUrl = {

            bookUrl_IndexLoad:"@Url.Action("Index", "Bookings")",
            bookUrl_AddDiscount: "@Url.Action("AddBookingDiscount", "Bookings")",
            bookUrl_RemoveDiscount: "@Url.Action("RemoveBookingDiscount", "Bookings")",
            bookUrl_editBooking: "@Url.Action("EditBooking", "Bookings",new {transId="tId"})",
            bookUrl_SelectDiscount: "@Url.Action("GetDiscountDetails", "Bookings")",
            bookUrl_ServeBooking: "@Url.Action("ServeBookingStatus","Bookings")",
            bookUrl_removeBooking: "@Url.Action("RemoveBooking", "Bookings")",
            bookUrl_cancelBooking:"@Url.Action("CancelBooking", "Bookings",new {transId = "trans_Id"})",
            bookurl_bookingdue: "@Url.Action("GetDiscountDetails", "Bookings",new {transId="tId"})"

        }

        var PackageBookingUrl = {
            urlSearchpackagebooking: "@Url.Action("GetListofCourse", "Bookings")",
            urlSearchpackagebookingbybookNo: "@Url.Action("GetListofCourseforChange", "Bookings")",
            urlChangeMenu_on_Booking: "@Url.Action("Change_Menu_on_Booking", "Bookings")",
            urlMenuList: "@Url.Action("LoadListMenus", "Bookings")",
            urlMenuList_Modify: "@Url.Action("LoadListMenus", "Bookings",new { courseId= "courseid"})",
            urlAddMenustoBooking: "@Url.Action("AddMenusToPackage", "Bookings")",
            urlModifyBookingAddOns: "@Url.Action("ModifyAddOns", "Bookings")",
            urlAddOnsInformation: "@Url.Action("AddOnsInformation", "Bookings")",
            urlAddOnsUpgrades: "@Url.Action("Get_AddonsandUpgrades", "Bookings")",
            urlRemoveBookingMenus: "@Url.Action("RemoveMenufromListofBookings", "Bookings")",
            urlRemoveBookingAddOns: "@Url.Action("RemoveBookingAddon", "Bookings")",
            urlRemoveBookingAddOnDetail: "@Url.Action("RemoveAddonDetail", "Bookings")",
            urlModifyBookingAddOnDetail: "@Url.Action("ModifyAddonDetail", "Bookings")",
            urlGetListAddonsbyCat: "@Url.Action("Get_AddonsandUpgradesByCat", "Bookings")",
            urlGetSelectedAddons: "@Url.Action("GetSelectedAddons", "Bookings")",
            urlGetAddOnDetailsListByAddonId: "@Url.Action("GetAddOnsDetails","Bookings",new { addon_No = "addonNo" })",
            urlCheckMenusByPackage: "@Url.Action("GetPackageMenusperTransaction", "Bookings")",
            urlAddBookingOtherCharge: "@Url.Action("BookingOtherCharge_New", "Bookings")",
            urlAddBookingRemoveOtherCharge: "@Url.Action("RemoveBookingOtherCharge", "Bookings")",
            urlAddBookingModifyOtherCharge: "@Url.Action("ModifyBookOtherCharges", "Bookings")",
            urlBookingRemoveSnacksandDrinks: "@Url.Action("RemoveSnackandDrinks", "Bookings")",
            urlBookingPrintContractForm: "@Url.Action("PrintContractOption", "Bookings")"

        }


        $(function() {

            //var targetElement = document.querySelector("#btn-collapse");

            //targetElement.addEventListener("click",
            //    function(e) {
            //        e.preventDefault();
            //        e.currentTarget.classList.toggle("glyphicon-chevron-down");
            //    });



        });





    </script>


    @Scripts.Render("~/Scripts/js_bookings.js")

    @Scripts.Render("~/Scripts/js_packagebooking.js")


}